.header {
  width: 100%;
  display: inline-block;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 30px;


  ul {
    list-style: none;
    display: flex;
    gap: 30px;

    li {
      a {
        text-decoration: none;
        color: #1f1534;
        font-size: 18px;
        font-family: 'Mulish', sans-serif;
        font-weight: 400;
        opacity: 0.5;
        transition: opacity 0.3s;

        &.active,
        &:hover {
          font-weight: 700;
          opacity: 1;
        }
      }
    }
  }
}

