<header class="header">
  <nav class="nav">
    <ul>
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">Find a doctor</a></li>
      <li><a href="#">Apps</a></li>
      <li><a href="#">Testimonials</a></li>
      <li><a href="#">About us</a></li>
    </ul>
  </nav>

  <div class="hero">
    <div class="hero-content">
      <h1>Virtual healthcare <br /> for you</h1>
      <p>
        Trafalgar provides progressive, and affordable <br />
        healthcare, accessible on mobile and online <br />
        for everyone
      </p>
      <button class="btn">Consult today</button>
    </div>
    <img src="assets/GrandLogo.png" alt="Healthcare Illustration" class="hero-image" />
  </div>
</header>
