<h2 class="titre">Our Services</h2>
<p class="description-titre">We provide to you the best choiches for you. Adjust it to your health needs and make sure your undergo treatment with our highly qualified doctors you can consult with us which type of service is suitable for your health</p>
<div class="our-services">
    @for (ourServiceCard of ourService; track ourServiceCard.id) {
        <app-our-service-card [ourServiceCard]="ourServiceCard"></app-our-service-card>
    }
</div>
<div data-layer="btn" class="Btn" style="width: 200px; height: 60px; position: relative">
    <div data-layer="Rectangle 16" class="Rectangle16" style="width: 200px; height: 56px; left: 0px; top: 3px; position: absolute; border-radius: 55px; border: 1.40px #458FF6 solid"></div>
    <div data-layer="Learn more" class="LearnMore" style="left: 51px; top: 0px; position: absolute; color: #458FF6; font-size: 18px; font-family: Mulish; font-weight: 700; line-height: 60px; word-wrap: break-word">Learn more</div>
</div>
