
.our-services {
  display: grid;

  grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
  gap: 20px; /* Espacement entre les cartes */
  padding: 20px;
  background-color: #f9f9f9; /* Couleur de fond */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre */
}

.titre{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    justify-content: center;
}

.btn {
  width: 200px;
  height: 60px;
  position: relative;
  margin: 0 auto;
  padding: 20px;


  .rectangle {
    width: 200px;
    height: 56px;
    position: absolute;
    left: 0;
    top: 3px;
    border-radius: 55px;
    border: 1.4px solid #458ff6;
  }

  .text {
    position: absolute;
    left: 51px;
    top: 0;
    color: #458ff6;
    font-size: 18px;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    line-height: 60px;
    word-wrap: break-word;
  }
}


