
.our-services {
  display: grid;

  grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
  gap: 20px; /* Espacement entre les cartes */
  padding: 20px;
  background-color: #f9f9f9; /* Couleur de fond */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre */
}

.titre{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    justify-content: center;
}

.Btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px auto;
}

