
<div data-layer="Rectangle 5" class="Rectangle">
    <div class="our-services-image">
        <img src="{{ourServiceCard.srcImg}}">
    </div>
    <div data-layer="Search doctor" class="SearchDoctor" >{{ ourServiceCard.titleOur }}</div>
    <div data-layer="Choose your doctor from thousands of specialist, general, and trusted hospitals" class="ChooseYourDoctorFromThousandsOfSpecialistGeneralAndTrustedHospitals" style="width: 266px; color: #7D7987; font-size: 16px; font-family: Mulish,serif; font-weight: 300; line-height: 28px; word-wrap: break-word">{{ourServiceCard.description}}</div>
</div>